* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 100px;
}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dd212a;
}

.active {
    position: sticky;
    top:0;
}

.navlist ul {
    display: inline-flex;
    list-style: none;
}
.navlist ul li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    margin: 10px;
    padding: 5px;
}
.navlist ul li:hover{
    cursor: pointer;
    color: black;
    transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    scale: 2x;
}


.footer {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: aliceblue;
}

.shimmer-container ul {
    display: flex;
}
.shimmer-container ul li{
    width: 200px;
    height: 300px;
    border: 1px solid darkgray;
    margin: 20px;
    background-color: darkgrey;
    list-style: none;
}

.imagecss {
    width:250px;
    height: 200px;
}

.restaurantList {
    display: flex;   
    flex-wrap: wrap;
}
.restaurantCard {
    /* border: 1px solid grey; */
    cursor: pointer;
    width: 250px;
    margin: 30px;
}
.search {
    margin: 15px;
    padding: 15px;
}
